.shopping-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 10px;
  margin: auto;

  background: var(--paper);
  border-radius: 16px;
  width: 300px;
}

.shopping-list h2 {
  margin: 8px 0 16px 0;
}

.shopping-list-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.shopping-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  background: var(--bg-color);
  border-radius: 8px;
}

.shopping-item p {
  margin: 0;
}

.bg-paper {
  background: var(--paper);
}

.shopping-item .section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.badge {
  padding: 2px 8px;
  display: block;

  background: #27ae60;
  border-radius: 4px;
  margin: 0;
}

.shopping-item p {
  font-size: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding: 0 16px;
}

.flex {
  display: flex;
}

.gap-8 {
  gap: 128px;
}

.gap-4 {
  gap: 64px;
}

.gap-2 {
  gap: 32px;
}
